:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
}

header .container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px;
}

header nav a {
    color: #AAA;
    margin-left: 10px;
    text-decoration: none;
}

header nav a:hover{
    color: #fff;
}