@media screen and (max-width: 768px){
    header .container {
        display: flex;
        flex-direction: column;
    }

    .botao {
        height: 60px;
        margin-top: 5px;
        width: 190px;
    }
}

@media screen and (min-width: 1000px) {
    .descricao {
        width: 50%;
    }
}